" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc
let mapleader = " "

" Show relative offsets in the line number
set linenumber
set relativenumber

" Show current mode and command at the bottom of the screen.
set showmode
set showcmd

" Use the system clipboard
set clipboard+=unnamed


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=20

" Do incremental searching. Highlight search results.
set incsearch
" set hlsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'

" Enable bundled surround plugin.
" cs"' - Change surrounding "'s into 's.
"
set surround

" Enable management of file browser via vim bindings.
set nerdtree

" Show keybindings when leader is pressed.
set which-key
set notimeout

" Enable mini.ai
set mini-ai


" Navigate windows with Ctrl + h,j,k,l
sethandler <c-j> a:vim
sethandler <c-k> a:vim
nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k


" Comment lines
map gcc <action>(CommentByLineComment)

" Reload IdeaVim configuration
nnoremap <leader>rc :action IdeaVim.ReloadVimRc.reload<CR>

" Completion
inoremap <C-y> <C-o>:action EditorCompleteStatement<CR>

" Method navigation
nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>


" Leader commands
"" ========================================================

" Close active tab
map <leader>q <action>(CloseContent)

" File navigation
map <leader>ff <action>(GotoFile)
map <leader>fr <action>(RecentFiles)
map <leader><leader> <action>(RecentFiles)
map <leader>fl <action>(RecentLocations)
map <leader>fs <action>(NewScratchFile)

" Search
map <leader>sg <action>(FindInPath)

" Tab navigation
nnoremap <leader>]<tab> :action NextTab<CR>
nnoremap <leader>[<tab> :action PreviousTab<CR>

" Split windows
unbind <M-K>
nmap <leader>ws <Action>(SplitHorizontally)
nmap <leader>wv <Action>(SplitVertically)

" Close active tab
nmap <leader>wq <Action>(CloseEditor)

" Refactoring
map <leader>rn <Action>(RenameElement)
map <leader>rm <Action>(ExtractMethod)
map <leader>rv <Action>(IntroduceVariable)
map <leader>rf <Action>(IntroduceField)
map <leader>rs <Action>(ChangeSignature)
map <leader>rr <Action>(Refactorings.QuickListPopupAction)

" Zoom current window
nmap <leader>uZ <Action>(ToggleDistractionFreeMode)

" Debugging
nmap <leader>b <Action>(ToggleLineBreakpoint)
nmap <leader>dB <Action>(EditBreakpoint)
nmap <F1> <Action>(Continue)
nmap <F2> <Action>(StepInto)
nmap <F3> <Action>(StepOver)
nmap <F4> <Action>(StepOut)
nmap <leader>? <Action>(Debugger.EvaluateInConsole)

" Terminal
nnoremap <leader>ft :action Terminal.OpenInTerminal<CR>

" Todo
map <leader>st <action>(ActivateTODOToolWindow)